* {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 216, 184);
}
header {
    padding-bottom: 2%;
    text-align: center;
}

#title {
    font-size: 300%;
    margin-top: 5;
    padding-top: 50px;
}

div.head-div {
    margin: auto;
    text-align: center;
}

.headerImage {
    width: 20px;
    height: auto;
}

h1 {
    display: inline-block;
    }

img {
    padding-bottom: 0;
}

h2 {
    font-size: 40px;
}

div.row {
    justify-content: center;
    text-align: center;
    padding-top: 0px;
}

#resultsDisplayPanel {
    background-color: whitesmoke;
}

div.card-header {
    background-color: whitesmoke;
}